.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
p {
  color: black;
  text-align: center;
  font-size: 50px;
  background-color: white;
  font-family: Didot, serif;
  font-weight: 900;
}
body {
  background-color: #FADADD;
}
b {
  color: black;
  width: 100px;
  padding: 10px;
  border: 2px black;
  text-align: center;
  font-size: 200px;
  font-family: Chalkduster, fantasy;
}
img {
  display: block;
  height:auto;
  width:auto;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-align: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
